﻿@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@using LeenAutoCovadis.shared.Interfaces
@using LeenAutoCovadis.blazor.Services

@inject LeenAutoCovadisAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ICurrentUserContext Context

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Welcome! <a href="#" @onclick=(Logout) class="btn btn-primary">Logout</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    public async Task Logout()
    {
        await AuthenticationStateProvider.Logout();
        NavigationManager.NavigateTo("/login");
    }
}